#root {
  background-color: #f7f7f8;
  font-family: "Roboto", sans-serif;
  h1,
  h3,
  h4 {
    font-family: "Open Sans", sans-serif;
  }
}

@media only screen and (max-width: 1350px) {
  .hide-on-large-and-down {
    display: none !important;
  }
  nav a.sidenav-trigger {
    display: block;
  }
  nav .brand-logo {
    position: absolute;
  }
}

@media only screen and (min-width: 1349px) {
  nav a.sidenav-trigger {
    display: none;
  }
}
